Checks: >
  -*,
  readability-identifier-naming

CheckOptions:
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.PrivateMethodCase: CamelCase
  readability-identifier-naming.PublicMethodCase: CamelCase
  readability-identifier-naming.ProtectedMethodCase: CamelCase

  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack

  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberSuffix: _
  readability-identifier-naming.PublicMemberCase: camelBack

  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: k
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ClassConstantPrefix: k

  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumeratorCase: CamelCase
  readability-identifier-naming.EnumeratorPrefix: k

  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase

  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE

  readability-identifier-naming.IgnoreMainLikeFunctions: true
